.header {
	border-bottom: 1px solid #ECECEC;
	padding: 24px 0;

	&__row {
		display: flex;
		justify-content: space-between;
	}
}

.header__nav {
	display: flex;

	.header__menu {
		display: flex;
		align-items: center;
		column-gap: 50px;
		margin: 0 0 0 93px;

		.header__link {
			display: block;
			color: $subtitle-dark;
			font-weight: 500;
			line-height: 1.1;
			letter-spacing: 0.02em;
			transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

			&:hover,
			&:focus {
				color: $accent;
			}

			&--active-page {
				position: relative;
				color: $accent;

				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: -33px;
					width: 100%;
					height: 4px;
					background-color: $accent;
					border-radius: 2px;
				}
			}
		}
	}
}

.contacts {
	display: flex;
	align-items: center;
	column-gap: 50px;

	&__link {
		font-weight: 500;
		line-height: 1.1;
		letter-spacing: 0.02em;
		color: inherit;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: $accent;
		}
	}

	&__icon {
		fill: currentColor;
		margin-right: 10px;
		vertical-align: bottom;
	}
}