.header {
	border-bottom: 1px solid #ECECEC;
	padding: 24px 0;

	&__row {
		display: flex;
		justify-content: space-between;
	}
}

.header__nav {
	display: flex;

	.header__menu {
		display: flex;
		align-items: center;
		column-gap: 50px;
		margin: 0 0 0 93px;

		.header__link {
			display: block;
			color: $subtitle-dark;
			font-weight: 500;
			line-height: 1.1;
			letter-spacing: 0.02em;
			transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}