$icons-main-color: #AFB1B8;
$icons-secondary-color: #ffffff;
$accent: #2196F3;

$main-bgd-color: #ffffff;
$bgd-accent: #F5F4FA;
$footer-bgd: #2F303A;
$banner-overlay: rgba(47, 48, 58, 0.4);;

$main-text-color: #757575;
$subtitle-dark: #212121;
$subtitle-light: #ffffff;

$logo-dark-theme: #000000;
$logo-light-theme: #ffffff;

