body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: $main-text-color;
	background-color: var(--white);
	letter-spacing: 0.03em;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.button {
	min-width: 200px;
	padding: 10px 0;
	margin: 30px 0 0;

	background-color: $accent;
	box-shadow: 0px 4px 4px #00000026;
	border-radius: 4px;

	color: $btn-text-color;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		box-shadow: 0px 4px 4px #00000026, inset 1px 1px 15px #fff, inset -1px -1px 15px #ffff;
	}
}

.is-hidden {
	pointer-events: none;
	opacity: 0;
	visibility: visible;
}

%hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

%section {
	padding: 94px 0;
}

%logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: $accent;
}

// example

.our-values {
	@extend %section;
}