body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: var(--main-text-color);
	background-color: var(--white);
	letter-spacing: 0.03em;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

%hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

%section {
	padding: 94px 0;
}

%logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	color: $accent;
}

// example

.our-values {
	@extend %section;
}